{{/* Scripts partial */}}
{{ define "scripts" }}
<script src="{{ .BasePath }}/static/app.js"></script>
{{- if .LiveReload }}
<script src="{{ .BasePath }}/static/live-reload.js"></script>
{{- end }}
{{- if and .Config .Config.Auth.Enabled }}
<script src="{{ .BasePath }}/static/edit-mode.js"></script>
{{- end }}

{{- /* KaTeX for math rendering */ -}}
<script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.27/dist/katex.min.js" integrity="sha384-2B8pfmZZ6JlVoScJm/5hQfNS2TI/6hPqDZInzzPc8oHpN5SgeNOf4LzREO6p5YtZ" crossorigin="anonymous"></script>
<script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.27/dist/contrib/auto-render.min.js" integrity="sha384-hCXGrW6PitJEwbkoStFjeJxv+fSOOQKOPbJxSfM6G5sWZjAyWhXiTIIAmQqnlLlh" crossorigin="anonymous"></script>

{{- /* Mermaid script is automatically injected by goldmark-mermaid extension */ -}}
{{- /* Note: HTML entity decoding happens in head.html to ensure it runs before mermaid.js */ -}}

{{ block "body_scripts" . }}{{ end }}
{{ end }}
