{{/* Sidebar navigation partial */}}
{{ define "sidebar" }}
<aside class="sidebar" id="sidebar">
  <div class="sidebar-header">Navigation</div>

  <div class="sidebar-body">
    <ul class="nav-tree" id="nav-tree">
      <li>
        {{- $rootPath := "/" }}
        {{- if .CurrentLanguage }}
          {{- $rootPath = printf "/%s/" .CurrentLanguage }}
        {{- end }}
        {{- $fullRootPath := printf "%s%s" .BasePath $rootPath }}
        <a class="node{{ if eq .CurrentPath $fullRootPath }} active{{ end }}" href="{{ $fullRootPath }}" data-title="{{ if .RootTitle }}{{ .RootTitle }}{{ else }}Home{{ end }}">
          <span class="label">{{ if .RootTitle }}{{ .RootTitle }}{{ else }}Home{{ end }}</span>
        </a>
      </li>
      {{- if .Nav }}
        {{- template "nav_tree_collapsible" (dict "Nodes" .Nav.Nodes "CurrentPath" .CurrentPath "BasePath" .BasePath) -}}
      {{- end }}
    </ul>
  </div>
</aside>
{{ end }}
