{{/* Sidebar navigation partial */}}
{{ define "sidebar" }}
<aside class="sidebar" id="sidebar">
  <div class="sidebar-header">Navigation</div>

  <div class="sidebar-body">
    <ul class="nav-tree" id="nav-tree" data-expand-all="{{ if and .Config .Config.Nav.ExpandAll }}true{{ else }}false{{ end }}">
      <li>
        {{- $rootPath := "/" }}
        {{- if and .Config .Config.IsMultiVersion .CurrentVersion }}
          {{- $defaultVersion := .Config.Versions.Default }}
          {{- if ne .CurrentVersion $defaultVersion }}
            {{- $rootPath = printf "/%s/" .CurrentVersion }}
          {{- end }}
        {{- end }}
        {{- if .CurrentLanguage }}
          {{- $defaultLang := .Config.Languages.Default }}
          {{- if ne .CurrentLanguage $defaultLang }}
            {{- if eq $rootPath "/" }}
          {{- $rootPath = printf "/%s/" .CurrentLanguage }}
            {{- else }}
              {{- $rootPath = printf "/%s/%s/" .CurrentLanguage .CurrentVersion }}
            {{- end }}
          {{- end }}
        {{- end }}
        {{- $fullRootPath := printf "%s%s" .BasePath $rootPath }}
        <a class="node{{ if eq .CurrentPath $fullRootPath }} active{{ end }}" href="{{ $fullRootPath }}" data-title="{{ if .RootTitle }}{{ .RootTitle }}{{ else }}Home{{ end }}">
          <span class="label">{{ if .RootTitle }}{{ .RootTitle }}{{ else }}Home{{ end }}</span>
        </a>
      </li>
      {{- if .Nav }}
        {{- template "nav_tree_collapsible" (dict "Nodes" .Nav.Nodes "CurrentPath" .CurrentPath "BasePath" .BasePath "CurrentVersion" .CurrentVersion "CurrentLanguage" .CurrentLanguage "Config" .Config) -}}
      {{- end }}
    </ul>
  </div>
</aside>
{{ end }}
